.margin-0 {
    margin: 0;
}

.flex-column {
    flex-direction: column;
}

.font-family-apple {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", ui-system, sans-serif;
}

.d-flex {
    display: flex;
}

body, html {
    width: 100%;
    height: 100%;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    object-fit: cover;
}

.header {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 60px;
    align-self: stretch;
    width: 100%;
    font-size: 16px;
    box-shadow: 0 8px 24px 0 rgba(8,9,10,.08);
    z-index: 1;
}

.notSelectable {
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.headerText {
    white-space: nowrap;
    color: black;
    padding-bottom: 20px;
    font-weight: 500;
    text-decoration: none;
    text-align: right;
}

.headerLogo {
    white-space: nowrap;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    color: #0d40ff;
    padding-bottom: 0;
    padding-left: 30px;
    line-height: 65px;
}

.headerLink {
    margin: 0 20px 0 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 100%;
}

.headerLeft {
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

.headerRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.headerButton {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #0d40ff;
    color: white;
    padding: 4px 14px 8px 14px;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 12px;
}

footer {
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    background: #f8f9fa;
}

.MainInfo {
    text-align: center;
    font-size: 34px;
    padding-top: 40px;
    white-space: nowrap;
    padding-bottom: 100px;
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.ButtonText {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #909090;
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 34px;
    padding: 10px 60px 15px 60px;
}

.SelectButton {
    background-color: #0d40ff;
}

.Button {
    display: flex;
    justify-content: center;
    padding: 0;
    border: none;
    outline: none;
}

.selectHeaderText {
    border-bottom: 5px solid #0d40ff;
    padding-bottom: 15px;
}

.loginIcon {
    padding-right: 7px;
}

.withIcon {
    padding-left: 10px;
}

.MainInfoBig {
    text-align: center;
    font-size: 60px;
    padding-top: 150px;
    white-space: nowrap;
    font-weight: 500;
}

.center-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.MainFormBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
}

.descriptionField {
    color: black;
}

.SubmitButton {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: #0d40ff;
    color: white;
    padding: 4px 14px 8px 14px;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 12px;
    cursor: pointer;
}

.nowrap {
    white-space: nowrap;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.text-no-decoration {
    text-decoration: none;
}

.color-black {
    color: black;
}

.font-size-normal {
    font-size: 20px;
}

.font-weight-500 {
    font-weight: 500;
}

.justify-right {
    justify-content: right;
}

.width-100 {
    width: 100%;
}

.margin-left-45 {
    margin-left: 45px;
}

.margin-right-40 {
    margin-right: 40px;
}

.min-width-360 {
    min-width: 360px;
}

.border-radius-10 {
    border-radius: 10px;
}

.background-white {
    background: white;
}

.color-red {
    color: red;
}
