form {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.LoginButton {
    width: 100%;
}

.FormField {
    display: flex;
    width: 800px;
    flex-direction: row;
    padding-bottom: 50px;
    justify-content: center;
}

.Input {
    height: 60px;
    font-size: 40px;
    font-weight: normal;
    text-decoration: none;
    border-radius: 2px;
    border-color: black;
    border-image: none;
    width: 100%;
}

.AuthButtons {
    display: flex;
    justify-content: center;
    width: 100%;
    align-self: center;
    padding: 100px 0 63px 0;
}

.AuthRegButtonText {
    width: 280px;
    border-radius: 10px;
}

.formErrors {
    max-width: 800px;
}
