{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/survey.css' %}">
{% endblock %}

{% block title %}{{ survey.title }}{% endblock %}

{% block section %}
    <div class="d-flex width-100 height-100 justify-center">
        <div class="d-flex flex-column height-100 mainTheme">
            <div class="d-flex justify-center font-size-big-big surveyTitle font-weight-500">
                {{ survey.title }}
            </div>
            <form class="formTheme margin-bottom-60" method="POST" action="{% url 'submit_response' unique_id %}" autocomplete="off">
                {% csrf_token %}
                <div class="margin-top-30 font-size-normal margin-left-40 font-weight-500 margin-right-40">
                    {{ survey.description|linebreaksbr }}
                </div>
                {% for question in survey.questions.all %}
                    <div class="d-flex margin-top-30 font-size-normal margin-left-40 font-weight-500">
                        {{ question.question }}.
                        {% if survey.is_quiz %}{{ question.score }}.{% endif %}
                    </div>
                    {% if question.question_type == 'single_choice' %}
                        <div class="d-flex flex-column margin-top-10">
                            {% for choice in question.choices.all %}
                                <div class="d-flex font-size-normal margin-left-40 margin-top-5">
                                    <input type="radio" name="{{ question.number }}"
                                           id="choice-{{ question.number }}-{{ choice.number }}"
                                           {% if question.is_required %}required{% endif %}
                                           value="{{ choice.number }}">
                                    <label for="choice-{{ question.number }}-{{ choice.number }}"
                                           class="txtClr">{{ choice.choice }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    {% elif question.question_type == 'multi_choice' %}
                        <div class="d-flex flex-column margin-top-10">
                            {% for choice in question.choices.all %}
                                <div class="d-flex font-size-normal margin-left-40 margin-top-5-center">
                                    <input type="checkbox" class="question-choice"
                                           name="{{ question.number }}"
                                           id="choice-{{ question.number }}-{{ choice.number }}"
                                           {% if question.is_required %}data-required="true"{% endif %}
                                           value="{{ choice.number }}">
                                    <label for="choice-{{ question.number }}-{{ choice.number }}"
                                           class="txtClr">{{ choice.choice }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    {% elif question.question_type == 'text' %}
                        <div class="d-flex margin-top-10 margin-left-45">
                            <label>
                                <input class="font-size-normal border-radius-5 input-text-padding"
                                       {% if question.is_required %}required{% endif %} type="text"
                                       name="{{ question.number }}" placeholder="Ваш ответ">
                            </label>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="d-flex justify-center margin-top-30 margin-bottom-30">
                    <input class="background-blue border-radius-5 no-border color-white font-weight-500 submit-text-padding font-size-normal"
                           type="submit" value="Отправить">
                </div>
            </form>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.querySelector('.formTheme');

            // Функция для проверки, выбран ли хотя бы один чекбокс в каждой группе
            function isAnyCheckboxChecked(questionName) {
                let checkboxes = document.querySelectorAll('input[name="' + questionName + '"]');
                return Array.from(checkboxes).some(checkbox => checkbox.checked);
            }

            // Создаем маппинг для первого чекбокса каждой группы
            let firstCheckboxOfEachGroup = {};
            document.querySelectorAll('input[type="checkbox"][data-required="true"]').forEach(function (checkbox) {
                let questionName = checkbox.name;
                if (!firstCheckboxOfEachGroup[questionName]) {
                    firstCheckboxOfEachGroup[questionName] = checkbox;
                }
            });

            // Обработчик события отправки формы
            form.addEventListener('submit', function (event) {
                let isFormValid = true;

                Object.keys(firstCheckboxOfEachGroup).forEach(function (questionName) {
                    let firstCheckbox = firstCheckboxOfEachGroup[questionName];
                    if (!isAnyCheckboxChecked(questionName)) {
                        isFormValid = false;
                        firstCheckbox.setCustomValidity('Выберите хотя бы один вариант');
                    } else {
                        firstCheckbox.setCustomValidity(''); // Сброс пользовательской валидации
                    }
                });

                if (!isFormValid) {
                    event.preventDefault(); // Предотвращаем отправку формы, если валидация не пройдена
                    form.reportValidity(); // Показываем сообщение об ошибке
                }
            });

            // Сброс пользовательской валидации для первого чекбокса группы при изменении состояния любого чекбокса в группе
            document.querySelectorAll('input[type="checkbox"]').forEach(function (checkbox) {
                checkbox.addEventListener('change', function () {
                    let questionName = this.name;
                    let firstCheckbox = firstCheckboxOfEachGroup[questionName];
                    if (firstCheckbox) {
                        firstCheckbox.setCustomValidity('');
                    }
                });
            });
        });
    </script>

{% endblock %}
