{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %} - HSE Forms
    </title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="icon" href="{% static 'media/favicon.png' %}" type="image/png">
    {% block head %}{% endblock %}
</head>

<body class="d-flex font-family-apple flex-column margin-0">
<div class="bg">
  <img src="{% static 'media/background_image.svg' %}" />
</div>
<div class="header">
    <div class="headerLeft">
        <div class="headerLink notSelectable">
            <a class="headerLogo link" href="/">
                HSE Forms
            </a>
        </div>
        <div class="headerLink">
            <a class="headerText {% block header_main_text %}{% endblock %}" href="/">
                Главная
            </a>
        </div>
        <div class="headerLink">
            <a class="headerText {% block header_myforms_text %}{% endblock %}" href="{% url 'myforms' %}">
                Мои формы
            </a>
        </div>
    </div>
    <div class="headerRight">
        <div class="headerLink">
            <a class="headerButton" href="/forms/create">
                Создать опрос
            </a>
        </div>
        <div class="headerLink">
            {% if user.is_authenticated %}
                <a class="headerButton withIcon" href="{% url 'logout' %}?next={{ request.path }}">
                    <img class="loginIcon" src="{% static 'media/login_icon.svg' %}"/>
                    Выход
                </a>
            {% else %}
                <a class="headerButton withIcon" href="{% url 'login' %}">
                    <img class="loginIcon" src="{% static 'media/login_icon.svg' %}"/>
                    Вход
                </a>
            {% endif %}
        </div>
    </div>
</div>

<main>
    {% block section %}{% endblock %}
</main>
<footer>
    <div class="d-flex justify-right padding-bottom-20 width-100">
        <a class="text-no-decoration color-black font-size-normal font-weight-500 margin-right-40 nowrap" href="/contacts">
            О нас
        </a>
        <a class="text-no-decoration color-black font-size-normal font-weight-500 margin-right-40 nowrap" href="">
            Сообщить об ошибке
        </a>
    </div>
</footer>
</body>
</html>
