{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="icon" href="{% static 'media/favicon.png' %}" type="image/png">
    {% block head %}{% endblock %}
</head>

<body class="d-flex font-family-apple flex-column margin-0">
<div class="bg">
  <img src="{% static 'media/background_image.svg' %}" />
</div>
<div class="header">
    <div class="headerLeft">
        <div class="headerLink notSelectable">
            <a class="headerLogo link" href="/">
                HSE Forms
            </a>
        </div>
        <div class="headerLink">
            <a class="headerText {% block header_main_text %}{% endblock %}" href="/">
                Главная
            </a>
        </div>
        <div class="headerLink">
            <a class="headerText {% block header_myforms_text %}{% endblock %}" href="/forms/myforms">
                Мои формы
            </a>
        </div>
    </div>
    <div class="headerRight">
        <div class="headerLink">
            <a class="headerButton" href="/forms/create">
                Создать опрос
            </a>
        </div>
        <div class="headerLink">
            {% if user.is_authenticated %}
                <a class="headerButton withIcon" href="{% url 'logout' %}">
                    <img class="loginIcon" src="{% static 'media/login_icon.svg' %}"/>
                    Выход
                </a>
            {% else %}
                <a class="headerButton withIcon" href="{% url 'login' %}">
                    <img class="loginIcon" src="{% static 'media/login_icon.svg' %}"/>
                    Вход
                </a>
            {% endif %}
        </div>
    </div>
</div>

<main>
    {% block section %}{% endblock %}
</main>
<footer>
    <a class="contacts">
        Contact us by Telegram: @noname_td; @z1lch; @tyubelova.
    </a>
</footer>
</body>
</html>
