{% extends 'layout.html' %}

{% block title %}Главная страница - HSE Forms{% endblock %}

{% block header_main_text %}selectHeaderText{% endblock %}

{% block section %}
    <div class="MainInfoBig">
        Добро пожаловать на HSE Forms!
    </div>
    <div class="MainInfo">
        HSE Forms - это новый подход к созданию<br>онлайн-форм: быстро, просто и удобно!
    </div>
    <div class="Button">
        {% if user.is_authenticated %}
            <a class="ButtonText SelectButton createButton" href="forms/create">
                Создать опрос
            </a>
        {% else %}
            <a class="ButtonText SelectButton createButton" href="forms/create">
                Создать первый опрос
            </a>
        {% endif %}
    </div>
{% endblock %}