{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {{ survey.title }}
    </title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/take_survey.css' %}">
</head>
<body>
    <div class="header">
    </div>

    <main>
        {% for question in questions %}
            <div>
                <h3>{{ question.number }}. {{ question.question }}</h3>
                {% if question.is_checkbox %}
                    {% for option in question.options.all %}
                        <label>
                            <input type="checkbox" name="question_{{ question.id }}" value="{{ option.id }}">
                            {{ option.choice }}
                        </label>
                    {% endfor %}
                {% else %}
                    <label>
                        <input name="question_{{ question.id }}">
                    </label>
                {% endif %}
            </div>
        {% endfor %}
    </main>

    <footer>
        <a class="contacts" href="/contacts">
            Контакты
        </a>
    </footer>
</body>