{% extends 'layout.html' %}
{% load static %}

{% block title %}Вход - HSE Forms{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block section %}
    <div class="AuthButtons">
        <div class="Button">
            <a class="ButtonText SelectButton AuthRegButtonText">
                Вход
            </a>
        </div>
        <div class="Button">
            <a class="ButtonText AuthRegButtonText" href="{% url 'register' %}">
                Регистрация
            </a>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="FormField">
            <input class="Input" type="text" name="username" placeholder="  Введите логин">
        </div>
        <div class="FormField">
            <input class="Input" type="password" name="password" placeholder="  Введите пароль">
        </div>
        <button class="Button">
            <a class="ButtonText SelectButton LoginButton border-radius-10">
                Войти в аккаунт
            </a>
        </button>
        <div class="formErrors">
            {{ form.errors }}
        </div>
    </form>
{% endblock %}